// Navigation code here
div.navigation{
    position:fixed;
    top:0;
    width:100%;
    padding: 10px 0;
    .flex(space-around,center,column);
    background: @nav-bg;
    opacity: .8;
    h1{
        font-size: 4rem;
    }
    nav{
        padding-top:20px;
        width:50%;
        .flex(space-between,center);
        @media @phone{
            width:80%;
        }
        a{
            text-decoration: none;
            color: @nav-font;
            font-size: 1.8rem;
            font-weight: bold;
        }
        a:hover{
            .hover-color( @btn-bg-color, @nav-bg);
            font-size:1.9rem;
        }
        
    }
}